@font-face {
	font-family: 'LeagueSpartanVariable';
	src: url('leaguespartan-var.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrainsMono';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('jetbrainsmono-regular.woff2') format('woff2');
}

@tailwind base;

@tailwind components;

.iframe-wrapper {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}
.iframe-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.table-wrapper {
	max-width: 100%;
	overflow-x: auto;
}

.prose a, .rc-link {
	@apply underline text-blue-600 hover:bg-yellow-200 hover:text-gray-900 hover:no-underline focus:bg-yellow-200 focus:text-gray-900 focus:no-underline;
}

.prose pre, .prose pre code {
	font-size: 12px !important;
	line-height: 16px !important;
}

img[src$="files/flow.png"] {
	width: 360px;
}

@tailwind utilities;