@tailwind base;

@tailwind components;

@layer components {
	.prose .table-wrapper {
		max-width: 100%;
		overflow-x: auto;
	}

	.prose img[src$="files/flow.png"] {
		width: 360px;
	}

	.prose a, .rc-link {
		@apply underline text-blue-600 hover:bg-yellow-200 hover:text-gray-900 hover:no-underline hover:outline-none focus:bg-yellow-200 focus:text-gray-900 focus:no-underline focus:outline-none;
	}

	.rc-menu-link {
		@apply hover:bg-yellow-200 text-gray-900 hover:no-underline hover:outline-none focus:bg-yellow-200 focus:text-gray-900 focus:no-underline focus:outline-none focus:ring-2 focus:ring-black;
	}
}

@tailwind utilities;