@model LayoutViewModel
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@Model.Title - Krompaco.RecordCollector.Web</title>
	<link rel="stylesheet" href="~/css/site.css?v=2" />
</head>
<body>
	<div role="main">
		@RenderBody()
	</div>
</body>
</html>
